* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

p {
    font-size: 0.7rem;
    font-weight: 700;
    color: #828282;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
}

/* Utilities */

.gap {
    gap: 1rem;
}

.margin-2-rem {
    margin: 2rem 0;
}

.margin-1-rem {
    margin: 1rem 0;
}

.margin-top-1-rem {
    margin-top: 1rem;
}

.padding-1-rem {
    padding: 1rem 0 ;
}

.padding-bottom-1-rem {
    padding-bottom: 1rem;
}

.padding-1-left-right {
    padding: 0 1rem;
    border-left: 2px solid #000;
}

.flex {
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.flex-direction-col {
    flex-direction: column;
}

.height-100 {
    height: 100%;
}

.col {
    display: flex;
}

.col-200 {
    width: calc(200px - 1rem);
}

.col-100 {
    width: 100%;
}

.col-player {
    width: calc(100% - 400px);
}

.nav-titles {
    text-transform: uppercase;
}
    

/* Layout */

.contenitore-all {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
}

header {
    height: 100px;
    width: calc(100% - 200px);
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 10;
}

main {
    background-color: #141922;
    padding: 0 1.5rem 1.5rem;
}

footer {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #282828;
    width: 100%;
    padding: 0.8rem;
    z-index: 10;
    position: fixed;
}

aside {
    width: 200px;
    height: 100%;
    background-color: #000;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.contenitore-header-main {
    width: calc(100vw - 200px);
    height: 100%;
    position: relative;
    overflow-y: auto;
    background-color: #141922;
}

.content {
    height: 1000px;
}

/* Sidebar */

aside .contenuto-sup {
    overflow-y: hidden;
}

aside .contenuto-inf {
    padding-top: 1rem;
}

.contenuto-sup ul {
    height: 27vh;
    overflow-y: auto;    
}

aside .col-20 {
    position: initial;
    width: 100%;
    bottom: 0;
    padding: 1rem 0;
    background-color: #000;
}

aside a {
    text-decoration: none;
    color: #828282;
    display: flex;
    align-items: center;
}

.menu-left-1 a {
    padding-left: 1.6rem;
    border-left: 2px solid #000;
    padding: 0.5rem 1rem;
}

aside a:hover {
    color: #fff;
}

.menu-left-1 i:hover, .menu-left-2 i:hover, .contenuto-inf i:hover {
    color: #fff;
}

.menu-left-1 a:hover {
    border-left: 2px solid #1db954;
}

.menu-left-1 {
    display: flex;
    flex-direction: column;
}

aside h3 {
    display: inline;
    font-size: 0.8rem;
    font-weight: 700;
}

.menu-head h3 {
    font-size: 1rem;
}

aside i{
    font-size: 1.4rem;
    padding-right: 1rem;
}

.menu-left-2 i{
    font-size: 3rem;
    padding-right: 1rem;
}

aside .nav-titles {
    color: #fff;
}

.logo img {
    padding: 0 0 0 1rem;
    width: 70%;
}

.logo a:last-child {
    display: none;
}

.list-overflow li {
    padding: 0.5rem 0;
}

.list-overflow li:first-child {
    padding: 0 0 0.5rem 0;
}

.list-overflow::-webkit-scrollbar{
    width: 0.4rem;
  }
  
.list-overflow::-webkit-scrollbar-track{
    background: #282828;
    border-radius: 10rem;
}
  
.list-overflow::-webkit-scrollbar-thumb{
    background-color: #828282;
    border-radius: 20px;
    border: 1px solid #282828;
}

.contenitore-header-main::-webkit-scrollbar {
    width: 0.4rem;
}

.contenitore-header-main::-webkit-scrollbar-track {
    background: #141922;
}

.contenitore-header-main::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 20px;
    border: 1px solid #282828;
}

.contenuto-inf i {
    font-size: 1rem;
}

.contenuto-inf hr {
    border: 1px solid #828282;
}
.john-doe h3 {
    color: #fff;
}

.john-doe {
    display: flex;
    align-items: center;
}

.john-doe img{
    width: 20px;
    height: 20px;
    background-color: #828282;
    border-radius: 10rem;
    margin-right: 1rem;
}

/* Sezione interna - header e main */

header .contenuto-header {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

header .row {
    height: 100%;
}

header a h2 {
    text-transform: uppercase;
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 1rem 3rem;
    border: 0.1rem solid #fff;
    border-radius: 25rem;
    transition: transform 0.2s;
    transform-origin:center right;
}

header a:hover {
    transform: scale(1.1);
}

.navigazione-main {
    margin-top: 100px;
    padding: 1rem 0 2rem 0;
}

.navigazione-main ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
}

.navigazione-main ul h2 {
    color: #828282;
    text-transform: uppercase;
    padding-bottom: 0.2rem;
}

.navigazione-main ul a {
    text-decoration: none;
}

.navigazione-main hr {
    border: none;
    height: 2px;
    background-color: #141922;
    width: 30%;
    margin: 0 auto;   
}

.navigazione-main li:hover h2 {
    color: #fff;
}

.navigazione-main li:hover hr {
    background-color: #1db954
}

main a {
    text-decoration: none;
}

main h1 {
    font-size: 1.8rem;
    color: #fff;
}

main h2 {
    color: #fff;
}

main h3 {
    color: #828282;
}

.col-sesto {
    width: calc(100% / 6 - 1rem);
}

main img {
    width: 100%;
    display: block;
}

.card {
    text-align: center;
}

.card-image {
    position: relative;
}

.hover-icon {
    display: none;
}

.card:hover .hover-icon {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:rgba(0, 0, 0, 0.5);
    display: block;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.artisti img {
    border-radius: 50rem;
}

.artisti .card:hover .hover-icon {
    border-radius: 50rem;
}


/* Footer */


.contenuto-col-sx, .contenuto-col-dx {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.musica-riproduzione {
    width: 80%;
    display: flex;
    align-items: center;
}

.icone-rirpoduzione {
    width: 20%;
}

footer img {
    width: 25%;
    margin-right: 1rem;
}

footer .contenuto-col-sx i {
    color: #828282; 
}

.icone {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .contenuto-col-sx i:hover {
    color: #fff;
}

footer .contenuto-col-sx a {
    text-decoration: none;
}

footer .contenuto-col-sx a p {
    text-decoration: none;
    padding-bottom: 0.1rem;
}

footer .contenuto-col-sx a p:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.icone-volume {
    width: 60%;
    display: flex;
    align-items: center;
    height: 40px;
}

.icone-layout {
    width: 35%;
    font-size: .9rem;
}

footer i:hover {    
    color: #828282;
}

.contenitore-player {
    width: 100%;
    margin: 0 auto;
    padding: 0 25%;
}

.icone-player {
    /* width: 50%; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem;
    font-size: 1.4rem;
}

.icone-player i {
    padding: 0 1rem
}

.icone-player i:nth-child(3){
    font-size: 2rem;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player p{
    color: #fff;
}

.player input[type=range] {
    width: 80%;
}

/* input range */

input[type=range] {
    height: .25rem;
    background-color: #828282;
    -webkit-appearance: none;
    width: 100%;
    vertical-align: middle;
    border-radius: 1rem;
    overflow: hidden;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 10rem;
    margin-left: -.5rem;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: -20rem 0 0 20rem #fff;
}

input[type=range]:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-left: -.5rem;
    background: #fff;
    box-shadow: -20rem 0 0 20rem #1db954;
}

/* Media Query */

@media screen and (max-width:444px) {
    .icone-player {
        justify-content: space-between;
        padding: 1rem 0
    }

    .icone-player i {
        padding: initial;
    }
}

@media screen and (max-width:576px) {

    main .col-sesto {
        width: calc(100% / 2 - 1rem);
    }

    .artisti .card, .consigliati .card {
        padding: 1rem 0;
    }

    aside .col-20 {
        position: initial;
    }

    aside {
        text-align: center;
        padding: 1rem 0.5rem;
        width: 50px;
    }

    aside i {
        padding-right: 0;
    }

    aside a {
        text-align: center;
    }

    .logo a:first-child {
        display: none;
    }

    .logo a:last-child {
        display: block;
    }

    .logo img {
        width: 100%;
        padding: 0;
    }

    .menu-left-1 {
        align-items:center
    }

    .menu-left-1 h3 {
        display: none;
    }

    .menu-left-1 a {
        padding: 0.5rem 0;
        font-size: ;
        border: none;
    }

    .menu-left-2 {
        display: none;
    }

    .contenuto-inf {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenuto-inf img {
        margin: 1rem 0 0 0;
    }

    .contenuto-inf h3, .contenuto-inf hr {
        display: none;
    }

    .contenitore-header-main {
        width: calc(100vw - 50px);
    }


    header {
        width: calc(100% - 50px);
    }

    .musica-riproduzione {
        display: block;
        width: 100%;
    }

    .contenitore-player {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contenuto-col-sx {
        flex-direction: column;
    }

    .contenuto-col-sx .icone-rirpoduzione {
        height: 60%;
    }

    .icone-rirpoduzione {
        width: 100%;
    }

    .icone-rirpoduzione .icone {
        height: 100%;
        justify-content: flex-start;
    }

    .testo-musica {
        padding: 0.5rem 0;
    }

    footer .fa-heart {
        padding-right: 0.5rem;
    }
}

@media screen and (max-width:767px) {
    footer .col-200 {
        width: 20%;
    }

    footer .col-player {
        width: 60%;
    }

    .icone-player {
        width: 100%;
    }

    .contenitore-player {
        padding: 0 10%
    }

    .contenuto-col-dx {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .icone-volume, .icone-layout {
        width: 100%;
    }

    .icone-volume {
        height: initial;
    }

    .icone-layout .icone {
        justify-content: flex-end;
        padding-bottom: 1rem;
    }

    .icone-layout .icone i {
        margin-left: 1rem;
    }

    main .row {
        justify-content: flex-start;
        gap: 1rem;
    }

    .col-sesto {
        width: calc(100% / 4 - 1rem);
    }

    .card {
        margin-top: initial;
        margin-bottom: 1rem;
    }

    .recently-played h1 {
        margin-bottom: 1rem;
    }

    .artisti h3, .consigliati h3 {
        margin-bottom: 1rem;
    }
}


